{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSameLine": false,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "tailwindStylesheet": "./src/assets/css/main.css",
  "tailwindFunctions": ["clsx", "cn"],
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "@/services",
    "@/store",
    "@/hooks",
    "@/components",
    "(@/)(?!assets)(.*)",
    "@/assets",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
