@import 'tailwindcss';

@plugin "tailwindcss-animate";

@theme {
  /* Primary Colors */
  --color-primary: #003459;
  --color-primary-40: #0078cd;
  --color-primary-60: #00528c;

  /* Secondary Colors */
  --color-secondary: #f7dba7;
  --color-secondary-40: #fceed5;
  --color-secondary-60: #f1d092;
  --color-secondary-80: #eec77e;

  /* State Colors */
  --color-state-pink: #ff564f;
  --color-state-green: #34c759;
  --color-state-orange: #ff912c;
  --color-state-blue: #00a7e7;

  /* Neutral Colors */
  --color-neutral: #fdfdfd;
  --color-neutral-10: #fdfdfd;
  --color-neutral-20: #ccd1d2;
  --color-neutral-40: #99a2a5;
  --color-neutral-60: #667479;
  --color-neutral-80: #242b33;
  --color-neutral-100: #00171f;

  /* Border Widths */
  --border-width-1.5: 1.5px;
}
